<p class="btn btn-dark" [routerLink]="['/home']">Home</p>

<form (submit)="editAuthor()">
  <p>Edit an author:</p>
  <p class="text-danger" *ngIf = "postErrors.name != ''">{{postErrors.name}}</p>
  <input type="text" placeholder="Author Name" name="currentAuthor.name" [(ngModel)]="currentAuthor.name">
  <input type="hidden" name="currentAuthor._id" [(ngModel)]="currentAuthor._id">
  <button class="btn btn-success">Submit</button>
</form>
  <a class="btn btn-warning" [routerLink]="['/home']">Cancel</a>
